@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgb(193, 62, 62);
  background: linear-gradient(
    139deg,
    rgba(193, 62, 62, 1) 0%,
    rgba(230, 179, 50, 1) 100%
  );
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
#todos {
  color: white;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  height: auto;
}
#todos > .heading {
  margin-bottom: 30px;
  text-align: center;
}
#todos > .heading > h1 {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
}
#todos > .heading > h1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 10%;
  height: 2px;
  background-color: white;
  transition: 0.5s;
}
#todos > .heading > h1:hover::before {
  width: 80%;
}
#todos > .todo-input-container {
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}
#todos > .todo-input-container > .todo_input {
  width: 100%;
  height: 40px;
  padding: 0 0 0 10px;
  font-size: 1.2rem;
  outline: none;
  border: none;
}
#todos > .todo-input-container > .add-item {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgb(236, 44, 44);
  line-height: 40px;
  color: white;
  cursor: pointer;
}
#todos > .todo-input-container > .add-item:nth-child(2) {
  right: 40px;
  background-color: rgb(233, 153, 61);
}
